#carouselExampleCaptions{
    position: relative;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 20px;
}
.title{
    font-size: 40px;
    position: relative;
    text-align: center;
    top: 60px;
}
.card{
    position: relative;
    top: 200px;
    padding: 0;
}
.cards{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 10px;
    top: 50px;
    justify-content: center;
}
.cards > #card1{
    position: relative;
    right: 50px;
}
.cards > #card2{
    position: relative;
}
.cards > #card3{
    position: relative;
    left: 50px;
}